.myorder {
    display: flex;
    margin-top: 120px;
    height: 1200px;
    position: relative; /* 부모 요소를 기준으로 자식 요소를 절대 위치시킬 수 있도록 설정 */
    width: 100%;        /* 부모 요소의 너비를 설정 */
    backdrop-filter: blur(5px);
}

.myorder-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    width: 80%;
    height: auto;
}

.myorder-th {
    border-top: solid 3px #333;
    margin-top: 50px;
    padding: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between; /* 자식 요소들 사이의 간격을 동일하게 */
}
.th-img {
    width: 15%;
}

.th-item {
    width: 35%;
}

.th-deliveryFee {
    width: 20%;
}

.th-status {
    width: 20%;

}

.myorder-list {
    width: 80%;
}

.myorder-date {
    padding: 15px;
    width: 100%;
    border-top: solid 2px #333;
    border-bottom: solid 2px #333;
    display: flex;
    gap:30px;
}

.myorder-li {
    display: flex; /* Flexbox 활성화 */
    list-style-type: none; /* 기본 목록 스타일 제거 (숫자, 점 등) */
    padding: 20px; 
    margin: 0; /* 기본 마진 제거 */
    border-bottom: solid 2px #ccc;
   
}

.myorder-itemimg {
    width: 15%;
}

.myorder-item {
    width: 32%;
}

.myorder-deliveryFee {
    width: 15%;
}

.myorder-status {
    width: 20%;
}

.myorder-link {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; 
    width: 100%;       /* 부모 요소의 색상 사용 */
}

/*------------------------주문배송조회 상세페이지 영역--------------------------------*/

.myorder-detail {
    display: flex;
    margin-top: 120px;
    height: 1200px;
    position: relative; /* 부모 요소를 기준으로 자식 요소를 절대 위치시킬 수 있도록 설정 */
    width: 100%;        /* 부모 요소의 너비를 설정 */
    backdrop-filter: blur(5px);
}

.detail-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    width: 80%;
    height: auto;
}

.detail-item-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;

}

.buyer-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    
}

.payments-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
   
}

.shipping-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.info-tb {
    border-collapse: collapse; /* 테두리가 겹치지 않도록 설정 */
   
    border-bottom: 2px solid #333;
    width: 80%;
}

.info-tb th {
    padding: 20px;
    border: 1px solid #ccc;
}

.info-tb td {
    padding: 20px;
     border: 1px solid #ccc;
}

.sub-head {
    width: 80%;
    border-bottom: 3px solid #333;
}