/* 페이지 css */
/* 메인 홈 화면 */

.main {
    margin-top: 120px;
    height: 1200px;
    display: flex;
    justify-content: center; 
}
/*
.image {
    display: flex;
    width: 80%;
    height: 28%;
    position: absolute;
    background-size: 100% 100%;
    background-image: url('../assets/main-2.jpg'); /* URL 뒤에 세미콜론 추가 */
    background-repeat: no-repeat; /* 이미지 반복하지 않음 */
    background-position: center; /* 이미지 위치 중앙 
}

*/

.login {
    margin-top: 120px;
    width: 1000px;
    height: 1000px;
    align-items: center;

}
.haadline {
    position: absolute; /* 부모 요소를 기준으로 절대 위치 */
    top: 50%;           /* 부모 요소의 높이의 50% 위치로 이동 */
    left: 55%;          /* 부모 요소의 너비의 50% 위치로 이동 */
    margin-top: 50px;
    height: 100px;
    text-align: center;
}

/* my page css */
.mypage {
    margin-top: 120px;
    height: 1200px;
    position: relative; /* 부모 요소를 기준으로 자식 요소를 절대 위치시킬 수 있도록 설정 */
    width: 100%;        /* 부모 요소의 너비를 설정 */
    
}

.correction {
    width: 1100px; 
    height: 950px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute; /* 부모 요소를 기준으로 절대 위치 */
    top: 70%;           /* 부모 요소의 높이의 50% 위치로 이동 */
    left: 58%;          /* 부모 요소의 너비의 50% 위치로 이동 */
    transform: translate(-50%, -50%);
   
}

.mypage-tb {
    width: 1100px;
    height: 250px;
    position: absolute; /* 부모 요소를 기준으로 절대 위치 */
    top: 15%;           /* 부모 요소의 높이의 50% 위치로 이동 */
    left: 58%;          /* 부모 요소의 너비의 50% 위치로 이동 */
    transform: translate(-50%, -50%); /* 정확히 가운데로 정렬하기 위해 자기 자신의 크기만큼 반대로 이동 */
    background-color: #333; /* 시각적으로 확인할 수 있도록 배경색 추가 */
    padding: 10px;      /* 내용 확인을 위해 약간의 패딩 추가 */

}

.mypage-tb th {
    color: white; /* 글자색을 흰색으로 설정 */
    text-align: center;
}