
.review {
    display: flex;
    margin-top: 120px;
    height: 1200px;
    position: relative; /* 부모 요소를 기준으로 자식 요소를 절대 위치시킬 수 있도록 설정 */
    width: 100%;        /* 부모 요소의 너비를 설정 */
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    width: 80%;
    height: auto;
}


.review-category {
    margin-bottom: 10px;
    width: 60%;
}

.review-category-tag {
    background-color: white;
    color: #333;
}

.review-category-tag:hover {
    font-weight: bolder;
}

/*----,리뷰 리스트------*/

.review-ul {
    width: 60%;
    border-top: solid 1px #333;
    padding: 0; 
}

.review-li {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-bottom: solid 1px #ccc;    
}

.review-div-1 {
    width: 50%;
}

.review-div-2 {
    width: 30%;
}

.review-div-3 {
    width: 20%;
}

/*---------modal section-------------------*/
.modal-bg {
    position: fixed; /* 부모 요소와 상관없이 화면 전체에 고정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; /* 뷰포트 전체 너비 */
    height: 100vh; /* 뷰포트 전체 높이 */
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 최상단에 위치하도록 z-index 설정 */
}

.review-form {
    background-color: white;
    padding: 20px;
    border: 1px solid #333;
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 999; /* 가장 위에 위치하도록 설정 */
}

/*--------review-btn--------------------*/

.review-btn {
    width: 80px;
    height: 40px;
    color: #333;
    background-color: white;
    border: solid 1px #ccc;
}