.product-list-tab {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.product-category-link {
  text-decoration: none;
  color: inherit;
}


.product-category {
  text-align: center;
  padding: 10px 20px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}


.product-category:hover {
  color: #000;
}

.product-category-active {
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #000;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .product-list-tab {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-category {
    margin-bottom: 10px;
  }
}